body {
	background-color: #0d1117;
}

h1 {
	font-family: "Liberation Mono", monospace;
	color: white;
}
a {
	color: DodgerBlue;
}
p, li, ol {
	font-family: "Liberation Mono", monospace;
	color: white;
	font-size: 13px;
	text-align: justify;
	hyphens: auto;
}
